$text: #FFFAFC;
$background: #46071D;
$background-accent: #380617;

$chat-bg-me: #F6A5C1;
$chat-co-other: $text;
$chat-bg-other: #8B3855;
$chat-co-me: $background;

$button-hover: #692039;
$shadow: 0 0 1em 0 hsla(336, 100%, 99%, .15);
